@typeparam TItem

<option value="@(KeyValuePair?.Key ?? default(int))">@KeyValuePair?.Value?.ToString()</option>

@code {
    [Parameter]
    public KeyValuePair<int, TItem>? KeyValuePair { get; set; }
}
