@typeparam TItem

<option class=@OptionClass value=@KeyValuePair.Key>@KeyValuePair.Value?.ToString()</option>

@code {
    [Parameter]
    public KeyValuePair<int, TItem> KeyValuePair { get; set; }

    [Parameter]
    public string OptionClass { get; set; } = string.Empty;
}
