@typeparam TItem
@inherits SelectComponent<TItem>

@if (GridTemplate is not null)
{
    @GridTemplate(DataSource)
}
else
{
    <h1>GridTemplate is not specified.</h1>
}

@code {
    [Parameter]
    public RenderFragment<IEnumerable<TItem>>? GridTemplate { get; set; }
}
